#navigation_bar a, a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

button, h1, h2, h3, input, tt, span, strong, p {
  font-family: 'Noto Sans', sans-serif;
}

.center {
	display: block;
	margin: 0 auto;
}


#example button {
	border-radius: 0;
    margin-top: 39px;
    width: 300px;
    height: 100px;
    font-size: 38px;
    margin-bottom: 61px;
}