#left_toolbar {
  /*border: solid 1px;*/
  /*border-right: solid 1px;*/
  height: 90.18vh;
}

#center_board {
  /*border-style: solid;*/
}

.slide {
  border-style: solid;
  border-width: 1px;
  padding: 1px;
  margin-bottom: 20px;
  margin-top: 10px; 
  width: 100%;
}

.current-slide{
  border: solid 5px red;
}

#navigation_bar a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

button, h1, h2, h3, input, tt, span, strong {
  font-family: 'Noto Sans', sans-serif;
}

i#music {
    font-size: 63px;
}

div.header_mid div {
    display: inline-block;
}

#wrapper_input1 {
  background-color: #f8ff9c;
  text-align: center;
  min-width: 35%;
}

#panel1_body img {
  height: 85%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#wrapper_input2 {
  background-color: #f8ff9c;
  text-align: center;
  width: 88%;
  height: 30%;
  display:inline-block;
}

#panel1_next {
  border-radius: 0;
}

/*#wrapper_input1:hover {
  cursor: pointer;
}*/

#wrapper_input1 input {
  height: 49px;
  font-size: 36px;
  top: -1px;
  position: relative;
  max-width: 300px;
}

 #wrapper_input2 input, #wrapper_input8 input {
  height: 49px;
  font-size: 36px;
  top: -1px;
  position: relative;
  /*max-width: 200px;*/
}

#wrapper_input5 {
  height: 49px;
  top: -1px;
  position: relative;
  max-width: 200px;
}

/*PANEL 2*/

#panel2_body #balloon-img {
  height: 97%; 
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#wrapper_input8 {
  background-color: #f8ff9c;
  text-align: center;
  width: 88%;
  height: 30%;
  display:inline-block;
}

#panel2_body div {
  background-color: #f8ff9c
}

#wrapper_input5 {
  width: 150px;
  height: 200px;
}


#wrapper_input6 {
  width: 150px;
  height: 200px; 
}


#wrapper_input7 {
  width: 150px;
  height: 200px;
}




/*PANEL 3*/
#panel3_body #gift_card_panel3 {
  height: 115%; 
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#panel3_body {
  padding-top: 3px;
}
#panel3_body div {
  background-color: #f8ff9c
}

#wrapper_input9 {
  width: 400px;
  height: 200px;
}



/*FOR ALL PANEL*/
.panel_header {
  /*border: solid 1px;*/
  padding-top: 20px;
  height: 10%;
}

.panel_body {
  /*padding-top: 100px;*/
  height: 80%;
  /*border: solid 1px blue;*/
}

.panel_footer {
  height: 10%;
  /*border: solid 1px yellow;*/
}

.gift-panel {
  height: 90vh;
}


#panel1 {
  display: none;
  position: relative;
}

#panel2 {
  display: none;
  position: relative;
}

#panel3 {
  display: none;
  position: relative;
}

.panel_footer button {
  border-radius: 0;
}

.slide:hover {
  cursor: pointer;
}

textarea {
   resize: none;
   background-color: #f8ff9c;
   
}


.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#back-to {
  position: fixed;
  top: 0;
  right: 0;
    
}

#back-to-edit {
    color: white;
    width: 60px;
    border-radius: 0;
    margin: 5px 2.5px 5px 5px;
    /*position: fixed;
    top: 0;
    right: 0;
    */
    /*border-radius: 0;
    opacity: 0.3;*/
}

#back-to-home {
    color: white;
    width: 60px;
    border-radius: 0;
    margin: 5px 5px 5px 2.5px;
    /*position: fixed;
    top: 0;
    right: 0;
    */
    /*border-radius: 0;
    opacity: 0.3;*/
}

#hand:hover, #needle:hover {
  cursor: pointer;
}

.speech-bubble {
      background-color: #5fcff1;
      border: 3px solid #54d3f9;
      border-radius: 5px;
      width: 150px;
      text-align: center;
      padding: 10px;
      position: relative;
      margin: 0 0 20px;
  }
.speech-bubble:before {
    border-color: #54d3f9 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    border-style: dotted;
    position: absolute;
    left: 9px;
    bottom: -8px;
    content:'';
}
.speech-bubble:after {
    border-color: #5fcff1 transparent;
    border-style: dotted;
    border-width: 7px 7px 0px;
    bottom: -7px;
    content:'';
    position: absolute;
    left: 10px;
}

#wrapper_input6:hover {
  cursor: pointer;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

#wrapper_input9:hover {
  cursor: pointer;
}

#wrapper_input6 {
  text-align: center;
  border: dashed;
}

#input6_img {
  margin-top: 30px;

}

#wrapper_input9 {
  text-align: center;
  border: dashed;
}

#input9_img {
  height: 50%;
  width: auto;
  margin-top: 40px;
}

#dropdown-icon {
      width: auto;
    height: 31px;
    margin-top: -18px;
    margin-left: 11px;
}

#gift-name {
  /*width: auto;
  height: 31px;*/
  margin-top: 11px;
  margin-left: 11px;
}

#gift-name-edit{
    white-space: nowrap;
  overflow: hidden;
}

#center_board {
  border-left: solid 1px ;
}

#panel_next, #panel_prev {
  border-radius: 0;
}

#save-to-cloud-btn:hover{
  cursor: pointer;
}

#save-to-cloud-btn, #preview-btn {
  display: inline-block;
}

#preview-btn:hover {
  cursor: pointer;
}

#gift-name-edit-icon:hover {
  cursor: pointer;
}

.notifyjs-bootstrap-success {
  font-size: 10px;
}