.container
{
	margin-top: 64px;
}
.imgpreview
{
	width: 256px;
	height: 256px;
	margin: 16px;
}
.btn
{
	margin: 16px;
	width: 128px;	
}
.btnwrapper
{
	text-align: center;
}
#birthdayPreview
{
}
#anniversaryPreview
{
	display: none;
	margin-top: 64px;
	text-align: center;
	font-size: 32px;
}
#valentinePreview
{
	display: none;
	margin-top: 64px;
	text-align: center;
	font-size: 32px;
}

#bigbang-img:hover {
	cursor: pointer;
}