.container
{
	margin-top: 64px;
}
.imgpreview
{
	width: 256px;
	height: 256px;
	margin: 16px;
}
.btn
{
	margin: 16px;
	width: 128px;	
}
.btnwrapper
{
	text-align: center;
}

#navigation_bar a {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

button {
	font-family: 'Noto Sans', sans-serif;
}

#anniversaryPreview
{
	display: none;
	margin-top: 64px;
	text-align: center;
	font-size: 32px;
}
#valentinePreview
{
	display: none;
	margin-top: 64px;
	text-align: center;
	font-size: 32px;
}

#bigbang-img:hover {
	cursor: pointer;
}

#bigbang-img {
	border: 1px;
	border-color: #e1e5ed;
	border-style: solid;
}

.unavailable:hover {
	cursor: pointer;
}


.imgpreview:hover, .btnwrapper:hover {
  cursor: pointer;
}