.left-section
{
	margin-top: 64px;
}
.imgpreview
{
	width: 256px;
	height: 256px;
	margin: 16px;
}
.btn
{
	margin-bottom: 16px;
	margin-top: 16px;
	width: 128px;	
}
.btnwrapper
{
	text-align: center;
}