
body {
  min-width: 1200px;
}



.topics label{
  cursor: pointer;
}

.main-section label{
  cursor: pointer;
}



#navigation_bar {
	height: 50px;
    border-bottom: solid 1px;
    font-size: 25px;
    border-bottom-color: #ddd;
}

* {
	font-family: 'Slabo 27px', serif;
}

.nav-option {
	margin-top: 6px;

}

.topics label, .status label {
  margin-bottom: 0px;
}

.gift-action:hover {
  cursor: pointer;
}


.nav-option a:hover {
   text-decoration:none;
   color: #5fcff1;
}

.nav-option a {
   color: black
}

.left-section {
	/*border-right: solid 1px;*/
	height: 100vh;
}

.container {
  /*width: 1200px !important;*/
}

#profile-img {
	margin-left: 10px;
	margin-top: 10px;
  
}

#user-name {
	margin-left: 10px;
	margin-top: 10px;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 12px 10px;
  
}

.option-input:hover { background: #9faab7; }

.option-input:checked { background: #5fcff1; }

.option-input:checked::before {
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio { border-radius: 50%; }

.option-input.radio::after { border-radius: 50%; }


.one-gift {
	border: solid 1px #F1F1F1;
	margin : 20px 20px 20px 20px;

}

.gift-details{
	background-color: #F1F1F1;
}

.gift-name{
	font-size: 20px;
}

.gift-image {
	padding-left: 0px;
	margin: 10px 0px 10px 0;
}

.gift-status {
	font-size: 33px;
    padding-top: 27px;
}

.action-icon {
	font-size: 45px;

}

.gift-action {
	padding-top: 17px;
}

#gift-remove-modal, #gift-copylink-modal {
  top:10%;
  /*right:50%;*/
  outline: none;
}

.gift-url{
    background-color: white;
    border: solid 1px #ddd;
    height: 35px;
    /* margin-top: 10px; */
    /* margin-right: 15px; */
    /* margin-left: 0%; */
    padding-left: 15px;
    padding-bottom: 0px;
    line-height: 28px;
    position: absolute;
    width: 100%;
}

.modal-content {
  border-radius: 0;
  width: 500px;
}

#copy-link-btn {
      background: #ccc;
    padding: 9px 12px 7px 12px;
    margin: -7px -11px 0px 0;
    color: black;
    font-size: 12px;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    letter-spacing: 1.1px;
    font-family: SFUIText-Regular, SanFranciscoText-Regular, ".SFNSText-Regular", SFCompactText-Regular, HelveticaNeue, Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    top: 7px;
    position: absolute;
    right: 10px;
    display: block;
    height: 35px;
}

.clear { clear: both; }

.gift-time {
  font-size: 18px;
  text-align: right;
  font-style: italic;
}